<header class="header">
  <a class="header__logo" routerLink="/mods">Modsync</a>

  <button class="header__toggle" (click)="toggleMenu()" aria-label="Toggle navigation">
    @if (!isMenuOpen) {
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z" />
      </svg>
    } @else {
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z" />
      </svg>
    }
  </button>

  <nav class="header__nav" [class.header__nav--open]="isMenuOpen">
    <a routerLink="/mods" (click)="closeMenu()">Mods</a>
    @if (authService.isLoggedIn()) {
      <a routerLink="/favorites" (click)="closeMenu()">Favorites</a>
      <a routerLink="/profile" (click)="closeMenu()">Profile</a>
    }

    <div class="header__auth">
      @if (authService.isLoggedIn()) {
        <button type="button" class="header__logout" (click)="logout()">Logout</button>
      } @else {
        <a routerLink="/login" (click)="closeMenu()" class="header__login">Login</a>
      }
    </div>
  </nav>
</header>
