<header class="header">
  <a class="header__logo">Modsync</a>

  <button class="header__toggle" (click)="toggleMenu()" aria-label="Toggle navigation">
    @if (!isMenuOpen) {
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z" />
      </svg>
    } @else {
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z" />
      </svg>
    }
  </button>

  <nav class="header__nav" [class.header__nav--open]="isMenuOpen">
    <a href="#" (click)="closeMenu()">Mods</a>
    <a href="#" (click)="closeMenu()">Modpacks</a>
    <a href="#" (click)="closeMenu()">Library</a>
    <a href="#" (click)="closeMenu()">Profile</a>

    <ng-content/>
  </nav>
</header>
