# =========================
# Java / Spring Boot
# =========================
*.class
*.log
target/
*.jar
*.war
*.ear
*.properties

# Maven / Gradle
.mvn/
!mvn/wrapper/maven-wrapper.jar
.gradle/
build/

# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular cache
.cache/

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# =========================
# IDEs
# =========================
.idea/
*.iml
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# Docker build artifacts
*.tar